.top-header {
  padding: 0.9rem;
  background-color: #3b5998;
  color: #fff;
}

.right-container {
  height: 800px;
  /* background: url("../../../assets/images/bg.jpg");
  background-size: contain;
  margin-top: 50px;
  border: 10px solid #fff;
  box-shadow: 0px 0px 5px #ccc;
  background-repeat: repeat; */
}

.container-image {
  width: 100%;
}

.login-form {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-form .form-group {
  margin-bottom: 20px;
}

.form-heading-wrapper {
  padding: 10px;
  border-radius: 3px;
}

.form-heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.form-subheading {
  font-size: 13px;
  padding: 0px !important;
  margin: 0px;
}
